<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment List</title>
    <style>
        /* Add your CSS styles here */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Shipment List</h1>
    <table>
        <thead>
            <tr>
                <th>Shipment ID</th>
                <th>Type of Transport</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Transport ID</th>
               
            </tr>
        </thead>
        <tbody>
            {% for shipment in shipments %}
            <tr>
                <td>{{ shipment.sid }}</td>
                <td>{{ shipment.type_of_transport }}</td>
                <td>{{ shipment.arrival_time }}</td>
                <td>{{ shipment.departure_time }}</td>
                <td>{{ shipment.te_id }}</td>
             
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'employee_homepage' %}">Go to Homepage</a>
</body>
</html>
